html, body {
    overflow: hidden;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #34383c;
    font-family: "Gravity";
}

.top-div {
    background-image: url("../assets/background.png");
    height: 45px;
    width: 100%;
}

.bottom-div {
    background-color: #34383c;
    height: calc(95% - 35px);
    padding-top: 35px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.bot-icon {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 32px;
    top: 45px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 4px solid #34383c;
}

.bot-name {
    position: absolute;
    left: 120px;
    top: 2.5%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-family: "Gravity";
    font-size: 24px;
    margin: 0px;
    width: 100%;
    text-align: center;
}

.page-name {
    position: absolute;
    left: calc(100% - 60px);
    top: 2.5%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-family: "Gravity";
    font-size: 24px;
    margin: 0px;
    width: 100%;
    text-align: center;
}

.call-category {
    width: calc(80% - 16px);
    border: 2px solid #ffffff;
    background-image: url("../assets/background.png");
    border-left-width: 16px;
    transform: translate(-50%, 0px);
    margin-left: 50%;
    margin-bottom: 32px;
}

.call-category > .name {
    color: #ffffff;
    margin: auto;
    margin-left: 10px;
}

.call-container {
    width: 80%;
    border: 2px solid #ffffff;
    transform: translate(-50%, 0px);
    margin-left: 50%;
    margin-bottom: 32px;
    background-color: #434446;
}

.call-container > .method {
    color: #ffffff;
    margin: 0px;
    margin-bottom: 10px;
}

.call-container > .method > .title {
    color: #ffffff;
    margin: 0px;
    margin-left: 10px;
}

.call-container > .method > .url {
    color: #ffffff;
    margin: 0px;
    margin-left: 20px;
    font-family: "Gravity-Regular"
}

.call-container > .function {
    color: #ffffff;
    margin: 0px;
    margin-bottom: 10px;
}

.call-container > .function > .title {
    color: #ffffff;
    margin: 0px;
    margin-left: 10px;
    font-size: 24px;
    margin-bottom: 5px;
}

.call-container > .function > .description {
    color: #ffffff;
    margin: 0px;
    margin-left: 20px;
    font-family: "Gravity-Regular"
}

.call-container > .parameters {
    color: #ffffff;
    margin: 0px;
    margin-bottom: 10px;
}

.call-container > .parameters > .title {
    color: #ffffff;
    margin: 0px;
    margin-left: 10px;
    font-size: 24px;
    margin-bottom: 5px;
}

.parameter-table, .returns-table, .examples-table, th, td {
    width: calc(100% - 40px);
    color: #ffffff;
    margin: 0px;
    margin-left: 20px;
    font-size: 16px;
    border: 1px solid #ffffff;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
    font-family: "Gravity-Regular"
}

.call-container > .returns {
    color: #ffffff;
    margin: 0px;
    margin-bottom: 10px;
}

.call-container > .returns > .title {
    color: #ffffff;
    margin: 0px;
    margin-left: 10px;
    font-size: 24px;
    margin-bottom: 5px;
}

.call-container > .examples {
    color: #ffffff;
    margin: 0px;
    margin-bottom: 10px;
}

.call-container > .examples > .title {
    color: #ffffff;
    margin: 0px;
    margin-left: 10px;
    font-size: 24px;
    margin-bottom: 5px;
}

.call-container > .type-get {
    border-left: 8px solid #0088ff;
}

.call-container > .type-post {
    border-left: 8px solid #00ff15;
}

@font-face {
    font-family: "Gravity";
    src: url("../assets/Gravity-UltraLight.otf") format("opentype");
}

@font-face {
    font-family: "Gravity-Regular";
    src: url("../assets/Gravity-Regular.otf") format("opentype");
}