.navbar {
    background-image: url("../assets/background.png");
    padding: 2rem 1rem;
    padding-bottom: 0px;
}

.navbar-toggler {
    border: none;
}

.bot-icon {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    margin: 32px;
}

.bot-icon-container {
    width: 100%;
    text-align: center;
}

.bot-name {
    width: 100%;
    text-align: center;
    margin-top: 16px;
}

.motd {
    width: 100%;
    text-align: center;
    margin-bottom: 32px;
}

.button-container {
    width: 100%;
    text-align: center;
}

.btn-outline-bot-icon {
    color: #00bc8c;
    border-image: url("../assets/background.png") 1 1 stretch;
}

.warning {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
}

.info {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
}

.server-list {
    width: 35%;
    display: inline-flex;
    margin: 16px;
}

.server-icon {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    margin-right: 8px;
}

.server-name {
    height: 42px;
    width: calc(100% - 48px);
    border-radius: 50%;
    margin: 0px;
}

.list-group-item {
    padding: 8px;
}

.config-editor {
    width: calc(64% - 32px);
    padding: 16px;
    display: inline-flex;
    flex-wrap: wrap;
}

.editor-info {
    width: 100%;
}

.info-2 {
    position: absolute;
    width: 65%;
    text-align: center;
    top: 50%;
    left: 35%;
}

.editor {
    width: 100%;
}

.card {
    width: 100%;
    margin: auto;
    margin-bottom: 16px;
    object-fit: cover;
    vertical-align: top;
}