<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" type="image/png" href="/assets/favicon.png"/>
        <link rel="shortcut icon" type="image/png" href="/assets/favicon.png"/>

        <title>This is a bot</title>

        <% if (SessionID != null) { %>
            <script>
                localStorage.setItem("SessionID", "<%= SessionID %>");
                window.location.href = window.location.origin;
            </script>
        <% } %>

        <link rel="stylesheet" type="text/css" href="./css/index.css">
        <link rel="stylesheet" type="text/css" href="./css/multi-select.css">
        <script src="./js/panel.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"></script>
        <script src="./js/jquery.multi-select.js"></script>

        <script>
            var showdownOpts = {
                'omitExtraWLInCodeBlocks': true,
                'noHeaderId': false,
                'parseImgDimensions': true,
                'simplifiedAutoLink': true,
                'literalMidWordUnderscores': true,
                'strikethrough': true,
                'tables': true,
                'tablesHeaderId': false,
                'ghCodeBlocks': false,
                'tasklists': true,
                'smoothLivePreview': false,
                'prefixHeaderId': false,
                'disableForced4SpacesIndentedSublists': false,
                'ghCompatibleHeaderId': false,
                'smartIndentationFix': false
            };

            var motdRender = () => {
                var converter = new showdown.Converter(showdownOpts);
                document.getElementsByClassName("motd")[0].innerHTML = converter.makeHtml('<%- motd %>');
            }
        </script>
    </head>
    <body>
        <div class="top-div">
            <img src="/assets/boticon.png" alt="This is a bot's icon" class="bot-icon" onclick="untransform()">
            <h1 class="bot-name">This is a bot</h1>
            <h2 class="bot-description">FizzyApple12's cool bot!</h2>
            <button class="user-button">Log in</button>
        </div>
        <div class="bottom-div">
            <button class="join-button" onclick="window.location.href='https://discordapp.com/oauth2/authorize?client_id=460891988191870976&permissions=8&scope=bot'">Invite Me!</button>
            <button class="panel-button" onclick="transform(1)">Web Panel</button><br/>
            <button class="support-button" onclick="window.location.href='https://discord.gg/HHnFZHe'">Get Support</button>
            <button class="stats-button" onclick="transform(2)">Stats</button>
            <div class="info-div">
                <p class="motd"></p>
            </div>
            <div class="servers-div" style="display: none;">
                <p class="no-servers-text">No servers here...</p>
            </div>
            <div class="server-editor" style="display: none; opacity: 0;">
                Moderator Roles:<br/>
                &emsp;<input type="checkbox" id="modrolesset" onclick="currentConfig.moderatorRoles.set=document.getElementById('modrolesset').checked; updateCFG();"> <label for="modrolesset">Enable Moderator Roles</label>
                &emsp;<select id="modroles" multiple></select><br/>
                Verification:<br/>
                &emsp;<input type="checkbox" id="verifyset" onclick="currentConfig.verificationChannel.set=document.getElementById('verifyset').checked; updateCFG();"> <label for="verifyset">Enable Verification</label><br/>
                &emsp;<select id="beginrole" onclick="currentConfig.verificationChannel.roleid=document.getElementById('beginrole').value"></select> <label for="beginrole">Unverified Role</label><br/>
                &emsp;<select id="endrole" onclick="currentConfig.verificationChannel.finalroleid=document.getElementById('endrole').value"></select> <label for="endrole">Verified Role</label><br/>
                &emsp;<select id="verifychannel" onclick="currentConfig.verificationChannel.channelid=document.getElementById('verifychannel').value"></select> <label for="verifychannel">Verification Channel</label><br/><br/>
                Welcome Channel:<br/>
                &emsp;<input type="checkbox" id="welcomeallow" onclick="currentConfig.welcomeChannel.set=document.getElementById('welcomeallow').checked; updateCFG();"> <label for="welcomeallow">Enable Bot Welcoming</label><br/>
                &emsp;<select id="welcomechannel" onclick="currentConfig.welcomeChannel.id=document.getElementById('welcomechannel').value"></select> <label for="welcomechannel">Welcome Channel</label><br/><br/>
                NSFW:<br/>
                &emsp;<input type="checkbox" id="nsfwallow" onclick="currentConfig.nsfw.allow=document.getElementById('nsfwallow').checked; updateCFG();"> <label for="nsfwallow">Enable NSFW Commands</label><br/>
                &emsp;<input type="checkbox" id="nsfwchannelset" onclick="currentConfig.nsfw.setChannel=document.getElementById('nsfwchannelset').checked; updateCFG();"> <label for="nsfwchannelset">Set NSFW Channel</label><br/>
                &emsp;<select id="nsfwchannel" onclick="currentConfig.nsfw.channelid=document.getElementById('nsfwchannel').value"></select> <label for="nsfwchannel">NSFW Channel</label><br/><br/>
                Security:<br/>
                &emsp;<input type="checkbox" id="lock" onclick="currentConfig.locked=document.getElementById('lock').checked; updateCFG();"> <label for="lock">Server Locked</label><br/>
                Economy:<br/>
                &emsp;<input type="text" id="pointnameset" onkeyup="currentConfig.pointName=document.getElementById('pointnameset').value; updateCFG();"> <label for="pointnameset">Server Currency Name</label>
            </div>
        </div>
    </body>
</html>
